// Form
.form{
    padding: 4px 16px;
}

// Form input
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-label{
    font-size: 1.8rem;
    margin-bottom: 8px;
    width: 120px;
    white-space: nowrap;
}

.form-textarea,
.form-input{
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 6px;
    background-color: transparent;
    color: var(--text-color);

    &::placeholder{
        color: var(--text-color);
    }
}

.form-textarea{
    resize: none;
}

.form-input{
    height: 42px;
}

.form-input:invalid:not(:focus):not(:placeholder-shown) ~ .form-error {
  display: block;
}

.form-error{
    margin-top: 8px;
    color: red;
    font-size: 1.4rem;
    font-weight: 600;
    display: none;
}

.show{
    display: block;
}

.customWidth{
    width: 360px;
}

.form-image{
    width: 96px;
    height: 96px;
}

.avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}