@import 'normalize.css';
@import '../../theme/dark.scss';
@import '../../theme/light.scss';

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-family: 'TikTokFont', 'sans-serif';
    --default-header-height: 60px;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: var(--font-family);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    background-color: var(--content-bg);
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

@font-face{
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face{
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}