@import 'normalize.css';
@import '../../theme/dark.scss';
@import '../../theme/light.scss';

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-family: 'TikTokFont', 'sans-serif';
    --default-header-height: 60px;
    --primary-color: #fe2c55;
}

html{
    font-size: 62.5%;
}

input,
select,
textarea,
button{
    font-size: inherit;
    font-family: inherit;
}

input,
button{
    outline: none;
    border: none;
}

button{
    background-color: transparent;
}

body{
    font-size: 1.6rem;
    font-family: var(--font-family);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    background-color: var(--content-bg);
    overflow-y: overlay;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

@font-face{
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face{
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

// Css scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--thumb-bg);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

// Custom tooltip
body {
    .tippy-box{
    background-color: rgba(84, 84, 84, 0.92);
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 21px;
    padding: 4px;
}

    .tippy-arrow{
        color: rgba(84, 84, 84, 0.92);
    }
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
