.wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.post-user{
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 18px;
}

.user-avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.check-btn,
.add-btn{
    position: absolute;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.add-btn{
    background-color: var(--primary-color);
}

.check-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--check-btn-bg);
    border: 1px solid #1618231f;
}

.number{
    color: var(--number-color);
    font-weight: 700;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dnone{
    display: none;
}

.gap{
    margin-left: 12px;
}

.small{
    min-width: 40px!important;
    min-height: 40px!important;
}