html.dark{
    --text-color: rgba(255,255, 255, 0.9);
    --border-color: #ffffff1f;
    --content-bg: #000;
    --header-bg: #121212;
    --logo-bg: #fff;
    --search-bg: #ffffff1f;
    --search-line-bg: #ffffff1f;
    --search-btn-hover-bg: #ffffff1f;
    --search-icon-bg: rgba(255, 255, 255, 0.34);
    --search-icon-hover-bg: rgba(255, 255, 255, 0.9);
    --search-placeholder-color: #ffffffe6;
    --search-border-color: #ffffff33;
    --search-input-color: rgba(255, 255, 255, 0.9);
    --clear-loading-color: rgba(255, 255, 255, .34);

    --popper-wrapper-bg: #252525;
    --account-item-hover-bg: #ffffff0a;
    --account-text-color: #ffffff80;
    --menu-wrapper-more-bg: #252525;

    --btn-text-bg: #ffffff14;
    --btn-text-hover-bg: #ffffff0a;
    --btn-outline-bg: #ffffff14;
    --btn-rounded-bg: #ffffffbf;
    --btn-outline-hover-bg: #fe2c550f;
    --btn-rounded-hover-bg: #2e2e2e;
    --btn-rounded-text-color: #ffffffbf;
    --btn-rounded-border-color: rgba(255, 255, 255, 0);
    --thumb-bg: #252525;

    --sidebar-bg: #121212;
    --account-sug-item-color: #ffffffbf;
    --footer-link-color: #ffffff80;
    --login-desc-color: #ffffff80;

    --modal-bg: #121212;
    --tab-list-bg: #121212;
    --btn-bg: #ffffff21;
    --btn-hover-bg: #ffffff30;
    --unit-color: #ffffffbf;
    --control-bg: #ffffff21;
    --control-btn-color: #0000007a;
    --control-btn-bg: #3a3a3a;
    --btn-circle-bg: #ffffff1f;
    --number-color: #ffffffbf;

    --info-bg: #121212;
    --user-block-bg: #ffffff0a;
    --link-wrapper-bg: #ffffff1f;
    --copy-btn-bg: #ffffff14;
    --input-bg: #ffffff1f;
    --input-color: #ffffffbf;
    --post-color: #ffffff57;
}