html{
    --text-color: #161823;
    --border-color: #1618231f;
    --header-bg: #fff;
    --content-bg: #fff;
    --search-bg: #1618230f;
    --search-line-bg: #1618231f;
    --search-btn-hover-bg: #1618230f;
    --search-icon-bg: rgba(22, 24, 35, 0.34);
    --search-icon-hover-bg: #161823;
    --search-placeholder-color: #4c4e57;
    --search-border-color: #16182333;
    --search-input-color: #161823;
    --clear-loading-color: rgba(22, 24, 35, .34);
    
    --popper-wrapper-bg: #fff;
    --account-item-hover-bg: #16182308;
    --account-text-color: #16182380;
    --menu-wrapper-more-bg: #fff;

    --btn-text-bg: #fff;
    --btn-text-hover-bg: #16182308;
    --btn-outline-bg: #fff;
    --btn-rounded-bg: #fff;
    --btn-outline-hover-bg: rgba(254, 44, 85, 0.06);
    --btn-rounded-hover-bg: #fff;
    --btn-rounded-text-color: #161823bf;
    --btn-rounded-border-color: #16182333;
    --thumb-bg: rgba(22, 24, 35, 0.06);

    --account-sug-item-color: #161823bf;
    --footer-link-color: #16182380;
}
