html{
    --text-color: #161823;
    --content-bg: #fff;
    --search-bg: #1618230f;
    --search-line-bg: #1618231f;
    --search-btn-hover-bg: #1618230f;
    --search-icon-bg: rgba(22, 24, 35, .75);
    --search-icon-hover-bg: #161823;
    --search-border-color: #16182333;
    --search-input-color: #161823;
    --clear-loading-color: rgba(22, 24, 35, .34);
}
