.modal-title{
    font-size: 3.3rem;
   padding: 8px 0 8px 12px;
   text-align: center;
   white-space: nowrap;
}

.btn-close{
   font-size: 3.4rem;
   font-weight: 400;
   min-width: 50px!important;
   margin-left: auto;
   color: var(--text-color);
}

.text{
    font-size: 1.6rem;
}

.link{
    color: var(--primary-color);
    font-size: 1.6rem;
}

.custom-background{
    background-color: var(--modal-bg)!important;
}

.custom-border-bg{
    border-color: var(--border-color)!important;
}

.inline{
    padding-top: 16px;
    flex-direction: row!important;
    column-gap: 60px;
    border-top: 1px solid var(--border-color);
}

.notice{
    padding: 8px 0 16px 160px;
    font-size: 1.3rem;
    color: var(--notice-color)
}

.custom-width{
    width: 600px!important;
}