.modal-title{
    font-size: 3.3rem;
   padding: 8px 0;
   margin-left: 23%;
   text-align: center;
   white-space: nowrap;
}

.btn-close{
   font-size: 4rem;
   font-weight: 400;
   min-width: 50px!important;
   margin-left: auto;
}

.text{
    font-size: 1.6rem;
}

.link{
    color: var(--primary-color);
    font-size: 1.6rem;
}

.show-error{
    display: block;
}

.error-title{
    font-weight: 700;
    font-size: 2rem;
    color: red;
}

.error-msg{
    font-size: 1.5rem;
    font-weight: 600;
}